.footer {
    background-color: #1D94C9;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
    font-size: 12px;
    font-weight: 700;
}